

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  background-color: #cccc;
}

.app {
  width: 90%;
  max-width: 43rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: white;
  margin: 3rem auto;
}

.form-control {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
ul{
  list-style: none;
}
.valid{
  list-style: none;
  color: green;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.invalid{
  list-style: none;
  color: rgb(128, 0, 6);
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.valid li h2{
  color: #000;
}

.form-control label {
  font-weight: bold;
  align-self: center;
  margin-right: 1rem;
}

.form-control input,
.form-control select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.form-control input:focus {
  outline: none;
  border-color: #f7f7f7;
  background-color: #ebffffde;
}
.form-control i{
  margin-top: 2%;
  cursor: pointer;
  opacity:0.7;
}
.form-control i:hover{
  opacity:1;
}
button {
  font: inherit;
  background-color: #077003;
  color: white;
  border: 1px solid #4a7003;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: #06ac00;
  border-color: #077003;
}

.form-actions {
  text-align: right;
  display: flex;
  justify-content: center;
}

.form-actions button {
  margin-left: 1rem;
  
}

.disabled{
  cursor:not-allowed;
  background-color: #504f4f;
  border: none;
}
.disabled:hover{
  background-color: #dbdbdb;
}